.card {
  height: 400px;
  background: #fafafa;
  border-radius: 5px;
  padding: 2rem;
  position: relative;
  transition: all 0.4s;
  &:hover {
    transform: translateY(-7px)
  }
}

.card-links {
  @include flex(row, flex-start, center);
  li {
    width: 15%;
    padding-right: 1rem;
    @include flex(row, flex-start, center);
    a {
      padding: 0rem;
      svg {
        width: 80%;
        &:hover {
          stroke: $red;
        }
      }
    }
  }
}

.card-header {
  padding: 3rem 0rem 2rem;
  text-transform: capitalize;
  color: $blueSolid;
}

.card-topics {
  text-transform: capitalize;
  position: absolute;
  bottom: 5rem;
  width: max-content;
  li {
    padding-right: 1rem;
    color: $red;
    font-weight: 500;
  }
}
