.hero {
  height: 90vh;
  background: $blueSolid;
  // clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}
.hero-container {
  @include flex(row, center, center);
  height: 85vh;
}
.hero-content {
  max-width: 1440px;
  width: 90%;
  @include flex(row, space-between, flex-start);
  opacity: 0;
}
.hero-show {
  animation: floatup 1.5s ease-in-out forwards, fadein 1.5s ease 0.3s forwards;
}
.hero-text {
  text-align: start;
  h3 {
    color: $navText;
    padding-bottom: 2.8rem;
    font-weight: 300;
    position: relative;
    &::after {
      position: absolute;
      left: 0%;
      content: "";
      width: 0%;
      height: 5px;
      background: $lightRed;
      top: 65%;
      border-radius: 5px;
      width: 75px;
    }
  }
  h1 {
    padding-bottom: 0.8rem;
  }
  p {
    color: $navText;
    padding-top: 1.2rem;
    padding-bottom: 7rem;
    max-width: 650px;
  }
  a {
    margin-top: 4rem;
    padding: 2rem 3rem;
    border: solid $lightRed 5px;
    border-radius: 5px;
    color: white;
    font-weight: 400;
    transition: all 0.4s;
    &:hover {
      background: $lightRed;
    }
  }
}

/* styles for the typing text */
span {
  @include rubik(300);
  font-size: $header4;
}
.const {
  color: rgb(0, 0, 199);
  padding-right: 0.5rem;
}
.constName {
  color: rgb(0, 119, 255);
}

.equals {
  color: white;
}
.array {
  color: yellow;
  padding: 0rem 1rem;
}

.typewriter {
  @include rubik(300);
  color: rgb(255, 115, 0);
  padding-bottom: 8rem;
  display: inline;
  font-size: 2.1rem;
  position: relative;
}
// curser for text
h4::after {
  content: "";
  position: absolute;
  top: 0;
  background: white;
  width: 2px;
  height: 2.6rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  animation: blink 750ms infinite;
}
// helper classes to fade and remove element
.fadeout {
  animation: fadeout 1.2s ease 1.8s forwards;
}

.gone {
  display: none;
}
