.hero {
  height: 100vh;
  background: $blueSolid;
}
.hero-container {
  @include flex(row, center, center);
  height: 100vh;
}
.hero-content {
  max-width: 1440px;
  min-height: max-content;
  width: 90%;
  @include flex(row, space-between, flex-start);
  opacity: 0;
}
.hero-show {
  animation: floatup 1.5s ease-in-out forwards, fadein 1.5s ease 0.3s forwards;
}
.hero-text {
  text-align: start;
  h3 {
    color: $navText;
    padding-bottom: 3.75rem;
    font-weight: 300;
    position: relative;
    &::after {
      position: absolute;
      left: 0%;
      content: "";
      width: 0%;
      height: 5px;
      background: $lightRed;
      top: 65%;
      border-radius: 5px;
      width: 75px;
    }
  }
  h1 {
    padding-bottom: 1rem;
  }
  p {
    color: $navText;
    padding-top: 1.75rem;
    padding-bottom: 5rem;
    max-width: 650px;
  }

  a {
    display: block;
    max-width: max-content;
    background: $blueSolid;
    font-size: $anchor;
    padding: 2rem 3rem;
    border: solid $lightRed 5px;
    border-radius: 5px;
    color: white;
    font-weight: 400;
    transition: all 0.4s;
    &:hover {
      background: $lightRed;
    }
  }
}

/* styles for the typing text */
span {
  @include rubik(300);
  font-size: $header3;
}
.function {
  color: $lightRed;
  padding-right: 0.5rem;
}
.constName {
  color: rgb(0, 119, 255);
}

.curly {
  color: $lightRed;
  padding: 0rem 1rem;
}

.invoke {
  h4 {
    padding-top: 1rem;
    @include rubik(300);
    font-size: $header3;
    color: rgb(0, 119, 255);
  }
}

.typewriter {
  @include rubik(300);
  color: $navText;
  padding-bottom: 8rem;
  display: inline;
  font-size: $header3;
  position: relative;
}

// helper classes to fade and remove element
.fadeout {
  animation: fadeout 1.2s ease 1.8s forwards;
}

.gone {
  display: none;
}
