.about {
  min-height: 100vh;
  padding: 10rem 0rem;
}

.about-header {
  @include flex(row, flex-start, center);
  padding-bottom: 6rem;
  h2 {
    position: relative;
    &::after {
      position: absolute;
      left: 0%;
      content: "";
      width: 0%;
      height: 5px;
      background: $lightRed;
      top: 110%;
      border-radius: 5px;
      width: 75px;
    }
  }
}
.about-container {
  width: 90%;
  max-width: 1440px;
  margin: auto;
}

.about-content {
  @include flex(row, space-between, flex-start);
  padding: 5rem;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  opacity: 0;
  flex-wrap: wrap;
}
.about-text {
  flex: 1 1 60rem;
  p {
    padding: 0rem 4rem 2rem 0rem;
  }
  ul {
    display: grid;
    grid-template-columns: repeat(2, minmax(225px, 300px));
    padding: 0px;
    li {
      position: relative;
      padding: 0rem 0rem 1rem 3rem;
      &::before {
        position: absolute;
        content: "\274F";
        top: 50%;
        left: 0;
        padding-bottom: 1rem;
        transform: translateY(-50%);
        color: $red;
        margin-right: 3rem;
      }
    }
  }
}

.about-img {
  flex: 1 1 32rem;
  @include flex(row, center, center);
  img {
    width: 65%;
    box-shadow: 20px 20px $lightRed;
    transition: box-shadow 0.5s;
    position: relative;
    &:hover {
      box-shadow: 10px 10px $lightRed;
    }
  }
}
