.navHeader {
  width: 100%;
  background: $blueSolid;
  position: sticky;
  top: 0;
  z-index: 3;
}
nav {
  width: 90%;
  max-width: 1440px;
  height: 10.1vh;
  min-height: 105px;
  margin: auto;
  @include flex(row, space-between, center);
  opacity: 0;
  .logo {
    padding: 0rem;
  }
}
.show {
  animation: floatdown 1.5s ease-in-out 2.5s forwards,
    fadein 1.5s ease 2.8s forwards;
}
/* div for logo */
.diamond {
  @include flex(row, center, center);
  border: solid $blueSolid 5px;
  width: 75px;
  height: 75px;
  transform: rotate(45deg);
  border-radius: 5px;
  transition: all 0.4s;
}
.diamond:hover {
  border-color: $lightRed;
  transform: rotate(90deg);
}

.diamond h1 {
  transform: rotate(-45deg);
  font-size: 2.4rem;
  max-width: min-content;
  padding-left: 0.5rem;
  transition: transform 0.4s;
}

.diamond:hover > h1 {
  transform: rotate(-90deg);
}

ul {
  display: flex;
}

a {
  padding: 0.5rem 1.5rem;
  letter-spacing: 0.5rem;
  transition: color 0.4s;
  position: relative;
}

a:hover {
  color: $whiteText;
}

ul a::after {
  position: absolute;
  left: 50%;
  content: "";
  width: 0%;
  height: 5px;
  background: $lightRed;
  transform: translateX(-50%);
  top: 110%;
  border-radius: 5px;
  transition: all 0.3s;
}

nav a:hover:after {
  width: 60%;
}
