@media screen and (max-width: 1200px) {
  .about-img {
    padding: 10rem 0;
    img {
      box-shadow: 10px 10px $lightRed;
    }
  }
}
@media screen and (max-width: 1000px) {
  // global
  .about-header,
  .work-header,
  .projects-header,
  .contact-header {
    @include flex(row, center, center);
    h2 {
      &::after {
        width: 100%;
      }
    }
  }

  // about section
  .about-text {
    p {
      padding-right: 0;
    }
    ul {
      grid-template-columns: repeat(2, minmax(125px, 300px));
    }
  }
  .about-img {
    padding: 10rem 0;
    img {
      box-shadow: 10px 10px $lightRed;
    }
  }
  //   contact section
  .contact {
    .contact-content {
      @include flex(column-reverse, center, center);
      .form-container {
        padding: 4rem 0rem;
      }
    }
  }
}

@media screen and (max-width: 945px) {
  // work section
  .featured {
    @include flex(column, center, space-between);
  }
  .featured-content {
    padding-top: 5rem;
    text-align: start;
    grid-column: 2/12;
    .project-tech {
      justify-content: flex-start;
      li {
        padding: 0rem 2rem 0rem 0rem;
      }
    }
    .project-links {
      justify-content: flex-start;
      li {
        a {
          padding: 0;
        }
      }
    }
  }

  .featured-img {
    grid-column: 1/-1;
    img {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 575px) {
  // global
  html {
    font-size: 50%;
  }

  //   header section
  .navHeader {
    nav {
      @include flex(column, center, center);
      text-align: center;
    }
    nav a:hover:after {
      width: 0%;
    }
  }

  // hero section
  .hero {
    .hero-text {
      @include flex(column, center, center);
      text-align: center;
      h3 {
        width: max-content;
        &::after {
          width: 100%;
        }
      }
    }
  }

  // about section
  .about-content {
    box-shadow: none;
  }

  //  other projects
  .projects-content {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  // contact section
  .contact-content {
    box-shadow: none;
  }
}
