//Set default browser box sizing, margin and padding
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

//Set default pixel size to 10 for easier rem usage
html {
  font-size: 62.5%;
  scroll-padding-top: 10vh;
  scroll-behavior: smooth;
}
body {
  @include rubik(300);
}

// Global Typography Styles

h1 {
  font-size: $header1;
  color: $whiteText;
  font-weight: 500;
}

h2 {
  font-size: $header2;
  color: $blueSolid;
}

h3 {
  font-size: $header3;
  color: $darkBlue;
  letter-spacing: 0.25rem;
}

h4,
h5 {
  font-size: $header4;
  color: $whiteText;
}

ul {
  list-style: none;
}

li {
  font-size: 1.6rem;
  color: $bodyCopy;
  letter-spacing: 0.25rem;
}

a {
  text-decoration: none;
  font-size: $anchor;
  color: $navText;
}

button {
  font-size: $text;
  color: $whiteText;
  @include rubik(400);
}

p {
  line-height: 3rem;
  letter-spacing: 0.25rem;
  font-size: $text;
  color: $bodyCopy;
}

input,
textarea {
  @include rubik(400);
  font-size: $header3;
  color: $darkBlue;
}
