@-webkit-keyframes blink {
  to {
    opacity: 0;
  }
}

@keyframes blink {
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeout {
  to {
    opacity: 0;
  }
}

@keyframes fadeout {
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadein {
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  to {
    opacity: 1;
  }
}

@-webkit-keyframes floatdown {
  from {
    -webkit-transform: translateY(-8%);
            transform: translateY(-8%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes floatdown {
  from {
    -webkit-transform: translateY(-8%);
            transform: translateY(-8%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes floatup {
  from {
    -webkit-transform: translateY(2%);
            transform: translateY(2%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes floatup {
  from {
    -webkit-transform: translateY(2%);
            transform: translateY(2%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 5.6rem;
  color: #f7f7f7;
  font-weight: 500;
}

h2 {
  font-size: 3.6rem;
  color: #f7f7f7;
}

h3 {
  font-size: 2.8rem;
  color: #1f3f5b;
  letter-spacing: 0.25rem;
}

h4,
h5 {
  font-size: 2.4rem;
  color: #f7f7f7;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 2.2rem;
  color: #d9d9d9;
}

button {
  font-size: 1.8rem;
  color: #f7f7f7;
}

p {
  line-height: 3rem;
  letter-spacing: 0.25rem;
  font-size: 1.8rem;
  color: #4b5862;
}

header {
  width: 100%;
  background: #1c1c22;
}

nav {
  width: 90%;
  min-height: 15vh;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
}

nav .logo {
  padding: 0rem;
}

.show {
  -webkit-animation: floatdown 1.5s ease-in-out 2.5s forwards, fadein 1.5s ease 2.8s forwards;
          animation: floatdown 1.5s ease-in-out 2.5s forwards, fadein 1.5s ease 2.8s forwards;
}

/* div for logo */
.diamond {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid #1c1c22 5px;
  width: 75px;
  height: 75px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-radius: 5px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.diamond:hover {
  border-color: #ff7a85;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.diamond h1 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  font-size: 2.4rem;
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
  padding-left: 0.5rem;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.diamond:hover > h1 {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a {
  padding: 0.5rem 1.5rem;
  letter-spacing: 0.5rem;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
  position: relative;
}

a:hover {
  color: #f7f7f7;
}

ul a::after {
  position: absolute;
  left: 50%;
  content: "";
  width: 0%;
  height: 5px;
  background: #ff7a85;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 110%;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

nav a:hover:after {
  width: 60%;
}

.hero {
  min-height: 100vh;
  background: #1c1c22;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
}

.hero-container {
  min-height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 6rem;
}

.hero-content {
  min-height: 85vh;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  opacity: 0;
}

.hero-show {
  -webkit-animation: floatup 1.5s ease-in-out forwards, fadein 1.5s ease 0.3s forwards;
          animation: floatup 1.5s ease-in-out forwards, fadein 1.5s ease 0.3s forwards;
}

.hero-text {
  text-align: start;
}

.hero-text h3 {
  color: #d9d9d9;
  padding-bottom: 2.8rem;
  font-weight: 300;
  position: relative;
}

.hero-text h3::after {
  position: absolute;
  left: 0%;
  content: "";
  width: 0%;
  height: 5px;
  background: #ff7a85;
  top: 65%;
  border-radius: 5px;
  width: 10%;
}

.hero-text h1 {
  padding-bottom: 0.8rem;
}

.hero-text p {
  color: #d9d9d9;
  padding-top: 1.2rem;
  padding-bottom: 7rem;
  max-width: 650px;
}

.hero-text a {
  margin-top: 4rem;
  padding: 2rem 3rem;
  border: solid #ff7a85 5px;
  border-radius: 5px;
  color: white;
  font-weight: 400;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.hero-text a:hover {
  background: #ff7a85;
}

/* styles for the typing text */
span {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 2.4rem;
}

.const {
  color: #0000c7;
  padding-right: 0.5rem;
}

.constName {
  color: #0077ff;
}

.equals {
  color: white;
}

.array {
  color: yellow;
  padding: 0rem 1rem;
}

.typewriter {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  color: #ff7300;
  padding-bottom: 8rem;
  display: inline;
  font-size: 2.1rem;
  position: relative;
}

h4::after {
  content: "";
  position: absolute;
  top: 0;
  background: white;
  width: 2px;
  height: 2.6rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  -webkit-animation: blink 750ms infinite;
          animation: blink 750ms infinite;
}

.fadeout {
  -webkit-animation: fadeout 1.2s ease 1.8s forwards;
          animation: fadeout 1.2s ease 1.8s forwards;
}

.gone {
  display: none;
}
/*# sourceMappingURL=index.css.map */