@import "./var";
@import "./global";
@import "./components/header/header";
@import "./components/hero/hero";
@import "./components/about/about";
@import "./components/work/work";
@import "./components/projects/projects";
@import "./components/projectCard/projectCard";
