@-webkit-keyframes blink {
  to {
    opacity: 0;
  }
}

@keyframes blink {
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeout {
  to {
    opacity: 0;
  }
}

@keyframes fadeout {
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadein {
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  to {
    opacity: 1;
  }
}

@-webkit-keyframes floatdown {
  from {
    -webkit-transform: translateY(-8%);
            transform: translateY(-8%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes floatdown {
  from {
    -webkit-transform: translateY(-8%);
            transform: translateY(-8%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes floatup {
  from {
    -webkit-transform: translateY(2%);
            transform: translateY(2%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes floatup {
  from {
    -webkit-transform: translateY(2%);
            transform: translateY(2%);
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}

main {
  position: relative;
}

h1 {
  font-size: 5.6rem;
  color: #f7f7f7;
  font-weight: 500;
}

h2 {
  font-size: 3.6rem;
  color: #202041;
}

h3 {
  font-size: 2.8rem;
  color: #1f3f5b;
  letter-spacing: 0.25rem;
}

h4,
h5 {
  font-size: 2.4rem;
  color: #f7f7f7;
}

ul {
  list-style: none;
}

li {
  font-size: 1.6rem;
  color: #4b5862;
  letter-spacing: 0.25rem;
}

a {
  text-decoration: none;
  font-size: 2.2rem;
  color: #e8e8e8;
}

button {
  font-size: 1.8rem;
  color: #f7f7f7;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

p {
  line-height: 3rem;
  letter-spacing: 0.25rem;
  font-size: 1.8rem;
  color: #4b5862;
}

input,
textarea {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 2.2rem;
  color: #1f3f5b;
}

.show-element {
  -webkit-animation: floatup 0.8s ease forwards, fadein 1s ease forwards;
          animation: floatup 0.8s ease forwards, fadein 1s ease forwards;
}

.navHeader {
  width: 100%;
  background: #202041;
  position: fixed;
  top: 0;
  z-index: 3;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.shadow {
  -webkit-box-shadow: 0 9px 9px -9px rgba(0, 0, 0, 0.13);
          box-shadow: 0 9px 9px -9px rgba(0, 0, 0, 0.13);
}

.hidden {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

nav {
  width: 90%;
  max-width: 1440px;
  height: 10.1vh;
  min-height: 105px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
}

nav .logo {
  padding: 0rem;
}

.show {
  -webkit-animation: floatdown 1.5s ease-in-out 2.5s forwards, fadein 1.5s ease 2.8s forwards;
          animation: floatdown 1.5s ease-in-out 2.5s forwards, fadein 1.5s ease 2.8s forwards;
}

/* div for logo */
.diamond {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: solid #202041 5px;
  width: 75px;
  height: 75px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-radius: 5px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.diamond:hover {
  border-color: #ff7a85;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.diamond h1 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  font-size: 2.4rem;
  max-width: -webkit-min-content;
  max-width: -moz-min-content;
  max-width: min-content;
  padding-left: 0.5rem;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

.diamond:hover > h1 {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

a {
  padding: 0.5rem 1.5rem;
  letter-spacing: 0.5rem;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
  position: relative;
}

a:hover {
  color: #f7f7f7;
}

ul a::after {
  position: absolute;
  left: 50%;
  content: "";
  width: 0%;
  height: 5px;
  background: #ff7a85;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 110%;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

nav a:hover:after {
  width: 60%;
}

.hero {
  height: 100vh;
  background: #202041;
}

.hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.hero-content {
  max-width: 1440px;
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  opacity: 0;
}

.hero-show {
  -webkit-animation: floatup 1.5s ease-in-out forwards, fadein 1.5s ease 0.3s forwards;
          animation: floatup 1.5s ease-in-out forwards, fadein 1.5s ease 0.3s forwards;
}

.hero-text {
  text-align: start;
}

.hero-text h3 {
  color: #e8e8e8;
  padding-bottom: 3.75rem;
  font-weight: 300;
  position: relative;
}

.hero-text h3::after {
  position: absolute;
  left: 0%;
  content: "";
  width: 0%;
  height: 5px;
  background: #ff7a85;
  top: 65%;
  border-radius: 5px;
  width: 75px;
}

.hero-text h1 {
  padding-bottom: 1rem;
}

.hero-text p {
  color: #e8e8e8;
  padding-top: 1.75rem;
  padding-bottom: 5rem;
  max-width: 650px;
}

.hero-text a {
  display: block;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  background: #202041;
  font-size: 2.2rem;
  padding: 2rem 3rem;
  border: solid #ff7a85 5px;
  border-radius: 5px;
  color: white;
  font-weight: 400;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.hero-text a:hover {
  background: #ff7a85;
}

/* styles for the typing text */
span {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 2.8rem;
}

.function {
  color: #ff7a85;
  padding-right: 0.5rem;
}

.constName {
  color: #0077ff;
}

.curly {
  color: #ff7a85;
  padding: 0rem 1rem;
}

.invoke h4 {
  padding-top: 1rem;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 2.8rem;
  color: #0077ff;
}

.typewriter {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  color: #e8e8e8;
  padding-bottom: 8rem;
  display: inline;
  font-size: 2.8rem;
  position: relative;
}

.fadeout {
  -webkit-animation: fadeout 1.2s ease 1.8s forwards;
          animation: fadeout 1.2s ease 1.8s forwards;
}

.gone {
  display: none;
}

.about {
  min-height: 100vh;
  padding: 10rem 0rem;
}

.about-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 6rem;
}

.about-header h2 {
  position: relative;
}

.about-header h2::after {
  position: absolute;
  left: 0%;
  content: "";
  width: 0%;
  height: 5px;
  background: #ff7a85;
  top: 110%;
  border-radius: 5px;
  width: 75px;
}

.about-container {
  width: 90%;
  max-width: 1440px;
  margin: auto;
}

.about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 5rem;
  border-radius: 10px;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  opacity: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60rem;
          flex: 1 1 60rem;
}

.about-text p {
  padding: 0rem 4rem 2rem 0rem;
}

.about-text ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(225px, 300px))[2];
      grid-template-columns: repeat(2, minmax(225px, 300px));
  padding: 0px;
}

.about-text ul li {
  position: relative;
  padding: 0rem 0rem 1rem 3rem;
}

.about-text ul li::before {
  position: absolute;
  content: "\274F";
  top: 50%;
  left: 0;
  padding-bottom: 1rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #ff525d;
  margin-right: 3rem;
}

.about-img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 32rem;
          flex: 1 1 32rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-img img {
  width: 65%;
  -webkit-box-shadow: 20px 20px #ff7a85;
          box-shadow: 20px 20px #ff7a85;
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
  position: relative;
}

.about-img img:hover {
  -webkit-box-shadow: 10px 10px #ff7a85;
          box-shadow: 10px 10px #ff7a85;
}

.work {
  min-height: 100vh;
  padding: 10rem 0rem;
  background: #202041;
}

.work-container {
  width: 90%;
  max-width: 1440px;
  margin: auto;
}

.work-content {
  opacity: 0;
}

.work-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 6rem;
}

.work-header h2 {
  color: #f7f7f7;
  position: relative;
}

.work-header h2::after {
  position: absolute;
  left: 0%;
  content: "";
  width: 0%;
  height: 5px;
  background: #ff7a85;
  top: 110%;
  border-radius: 5px;
  width: 75px;
}

.featured {
  position: relative;
  display: -ms-grid;
  display: grid;
  gap: 10px;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  color: #202041;
  background: #fafafa;
  padding: 5rem;
  margin-bottom: 3rem;
  border-radius: 10px;
}

.featured ul li {
  color: #202041;
}

.content-header h3 {
  color: #202041;
  padding-top: 1rem;
}

.content-header p {
  color: #ff525d;
  font-weight: 500;
}

.featured-content {
  z-index: 2;
  -ms-grid-row: 1;
  grid-row: 1/1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.featured-content .project-description {
  border-radius: 5px;
  padding: 3rem;
  background: #202041;
  margin: 2rem 0rem;
  text-align: start;
}

.featured-content .project-description p {
  color: #e8e8e8;
}

.featured-content .project-tech {
  padding-bottom: 2rem;
  text-transform: capitalize;
}

.featured-content .project-tech li {
  color: #ff525d;
  font-weight: 500;
}

.featured-content .project-links li {
  width: 13%;
}

.featured-content .project-links li a svg {
  width: 40%;
}

.featured-content .project-links li a svg:hover {
  stroke: #ff525d;
}

.featured-img {
  grid-row: 1/-1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured-img a {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(32, 32, 65, 0.454);
  border-radius: 5px;
}

.featured-img a img {
  z-index: 0;
  width: 100%;
  opacity: 0.5;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.featured-img a img:hover {
  opacity: 1;
}

.featured-content-right {
  grid-column: 6 / -1;
  text-align: right;
}

.featured-content-right .project-tech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured-content-right .project-tech li {
  padding-left: 2rem;
}

.featured-content-right .project-links {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.featured-img-left {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / 7;
}

.featured-content-left {
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1 / 8;
  text-align: left;
}

.featured-content-left .project-tech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured-content-left .project-tech li {
  padding-right: 2rem;
}

.featured-content-left .project-links {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.featured-img-right {
  grid-column: 7 / -1;
}

.projects {
  min-height: 100vh;
  padding-bottom: 10rem;
  background: #202041;
}

.projects-container {
  width: 90%;
  max-width: 1440px;
  margin: auto;
}

.projects-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 6rem;
}

.projects-header h2 {
  color: #f7f7f7;
  position: relative;
}

.projects-header h2::after {
  position: absolute;
  left: 0%;
  content: "";
  width: 0%;
  height: 5px;
  background: #ff7a85;
  top: 110%;
  border-radius: 5px;
  width: 75px;
}

.projects-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
  opacity: 0;
}

.card {
  height: 400px;
  background: #fafafa;
  border-radius: 5px;
  padding: 2rem;
  position: relative;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.card:hover {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.card-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-links li {
  width: 15%;
  padding-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-links li a {
  padding: 0rem;
}

.card-links li a svg {
  width: 80%;
}

.card-links li a svg:hover {
  stroke: #ff525d;
}

.card-header {
  padding: 3rem 0rem 2rem;
  text-transform: capitalize;
  color: #202041;
}

.card-topics {
  text-transform: capitalize;
  position: absolute;
  bottom: 5rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.card-topics li {
  padding-right: 1rem;
  color: #ff525d;
  font-weight: 500;
}

.contact {
  min-height: 100vh;
  padding: 10rem 0rem;
}

.contact-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 6rem;
}

.contact-header h2 {
  position: relative;
}

.contact-header h2::after {
  position: absolute;
  left: 0%;
  content: "";
  width: 0%;
  height: 5px;
  background: #ff7a85;
  top: 110%;
  border-radius: 5px;
  width: 75px;
}

.contact-container {
  width: 90%;
  max-width: 1440px;
  margin: auto;
}

.contact-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 10px;
  padding: 5rem 0rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  opacity: 0;
}

.form-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45rem;
          flex: 1 1 45rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.form-container h3 {
  width: 85%;
  text-align: center;
}

.form-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-container form input,
.form-container form textarea {
  width: 100%;
  padding: 2rem;
  margin: 2rem 0rem;
  background: #e8e8e8;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
          box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.form-container form button {
  background: #ff7a85;
  padding: 2rem 3rem;
  border: solid #ff7a85 5px;
  border-radius: 5px;
  color: white;
  font-weight: 400;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  width: 100%;
  cursor: pointer;
  letter-spacing: 0.5rem;
  font-size: 2.2rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
          box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.form-container form button:hover {
  background: #202041;
}

.contact-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 2;
      -ms-flex: 2 1 40rem;
          flex: 2 1 40rem;
  margin: auto;
}

.contact-img h3 {
  width: 75%;
  text-align: center;
  padding-bottom: 5rem;
}

.contact-img img {
  width: 70%;
}

footer {
  width: 100%;
  background: #202041;
  position: absolute;
  top: 100%;
}

.footerNav {
  opacity: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footerNav ul li {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 100%;
}

.footerNav ul a {
  margin: 0rem 2rem;
  padding: 0.5rem 1rem;
  width: 100%;
}

.footerNav a:hover:after {
  width: 0%;
}

.email p {
  color: white;
}

@media screen and (max-width: 1200px) {
  .about-img {
    padding: 10rem 0;
  }
  .about-img img {
    -webkit-box-shadow: 10px 10px #ff7a85;
            box-shadow: 10px 10px #ff7a85;
  }
}

@media screen and (max-width: 1000px) {
  .about-header,
  .work-header,
  .projects-header,
  .contact-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-header h2::after,
  .work-header h2::after,
  .projects-header h2::after,
  .contact-header h2::after {
    width: 100%;
  }
  .about-text p {
    padding-right: 0;
  }
  .about-text ul {
    -ms-grid-columns: (minmax(125px, 300px))[2];
        grid-template-columns: repeat(2, minmax(125px, 300px));
  }
  .about-img {
    padding: 10rem 0;
  }
  .about-img img {
    -webkit-box-shadow: 10px 10px #ff7a85;
            box-shadow: 10px 10px #ff7a85;
  }
  .contact .contact-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact .contact-content .form-container {
    padding: 4rem 0rem;
  }
}

@media screen and (max-width: 945px) {
  .featured {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: space-between;
        -ms-flex-align: space-between;
            align-items: space-between;
  }
  .featured-content {
    padding-top: 5rem;
    text-align: start;
    -ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2/12;
  }
  .featured-content .project-tech {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .featured-content .project-tech li {
    padding: 0rem 2rem 0rem 0rem;
  }
  .featured-content .project-links {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .featured-content .project-links li a {
    padding: 0;
  }
  .featured-img {
    grid-column: 1/-1;
  }
  .featured-img img {
    opacity: 1;
  }
}

@media screen and (max-width: 575px) {
  html {
    font-size: 50%;
  }
  .navHeader nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .navHeader nav a:hover:after {
    width: 0%;
  }
  .hero .hero-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .hero .hero-text h3 {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
  .hero .hero-text h3::after {
    width: 100%;
  }
  .about-content {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .projects-content {
    -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  .contact-content {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
/*# sourceMappingURL=index.css.map */