.work {
  min-height: 100vh;
  padding: 10rem 0rem;
  background: $blueSolid;
}

.work-header {
  @include flex(row, flex-start, center);
  padding-bottom: 6rem;
  h2 {
    color: $whiteText;
    position: relative;
    &::after {
      position: absolute;
      left: 0%;
      content: "";
      width: 0%;
      height: 5px;
      background: $lightRed;
      top: 110%;
      border-radius: 5px;
      width: 75px;
    }
  }
}
.work-container {
  width: 90%;
  max-width: 1440px;
  margin: auto;
}
.featured {
  position: relative;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  color: $blueSolid;
  background: #fafafa;
  padding: 5rem;
  margin-bottom: 3rem;
  border-radius: 10px;
  ul {
    li {
      color: $blueSolid;
    }
  }
}
.content-header {
  p,
  h3 {
    color: $blueSolid;
  }
  h3 {
    padding-top: 1rem;
  }
}

.featured-content {
  z-index: 2;
  grid-row: 1/1;
  align-self: center;
  .project-description {
    border-radius: 5px;
    padding: 3rem;
    background: $blueSolid;
    margin: 2rem 0rem;
    text-align: center;
    p {
      color: $navText;
    }
  }
  .project-tech {
    padding-bottom: 2rem;
    li {
      color: $red;
      font-weight: 500;
    }
  }
  .project-links {
    li {
      width: 13%;
      a {
        svg {
          width: 40%;
          &:hover {
            stroke: $red;
          }
        }
      }
    }
  }
}

.featured-img {
  grid-row: 1/-1;
  @include flex(row, center, center);
  a {
    padding: 0;
    @include flex(row, center, center);
    background-color: hsla(240, 34%, 19%, 0.454);
    border-radius: 5px;
    img {
      z-index: 0;
      width: 100%;
      opacity: 0.5;
      transition: opacity 0.5s;
      &:hover {
        opacity: 1;
      }
    }
  }
}

.featured-content-right {
  grid-column: 6 / -1;
  text-align: right;

  .project-tech {
    @include flex(row, flex-end, center);
    li {
      padding-left: 2rem;
    }
  }
  .project-links {
    justify-content: flex-end;
  }
}
.featured-img-left {
  grid-column: 1 / 7;
}

.featured-content-left {
  grid-column: 1 / 8;
  text-align: left;

  .project-tech {
    @include flex(row, flex-start, center);
    li {
      padding-right: 2rem;
    }
  }
  .project-links {
    justify-content: flex-start;
  }
}
.featured-img-right {
  grid-column: 7 / -1;
}
